<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.weizilla.transit.favorites"
          android:versionCode="1"
          android:versionName="1.0">
    <uses-sdk android:minSdkVersion="19"
              android:maxSdkVersion="19"
              android:targetSdkVersion="19"/>
    <instrumentation
            android:name="android.test.InstrumentationTestRunner"
            android:targetPackage="com.weizilla.transit.favorites"
            android:label="Tests for com.weizilla.transit"/>

    <application>
        <uses-library android:name="android.test.runner"/>
    </application>
</manifest>
