<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.weizilla.transit">

    <uses-sdk android:minSdkVersion="16"/>
    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name">
        <activity android:name=".activity.BusStopPicker">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".activity.BusPrediction">
        </activity>

        <activity android:name=".activity.BusRouteSelector">
        </activity>

        <activity android:name=".activity.BusDirectionSelector">
        </activity>

        <activity android:name=".activity.BusStopSelector">
        </activity>

    </application>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>
