@(groups: Iterable[com.weizilla.transit.groups.Group],
        favRouteIds: Iterable[String],
        routes: Iterable[com.weizilla.transit.data.Route])

@main("Transit")("Transit") {
    <header>Groups</header>
    <ul>
        @for(group <- groups) {
            <li>@group.getName</li>
        }
    </ul>
    <header>Favorites</header>
    <ul>
        @for(favRouteId <- favRouteIds) {
            <li>@favRouteId</li>
        }
    </ul>
    <header>Predictions</header>
    <ul>
        @for(route <- routes) {
            <li><a href="/directions/@route.getId">@route.getId - @route.getName</a></li>
        }
    </ul>
}
@*
@(title: String, routes: java.util.Collection[com.weizilla.transit.data.Route], favRoutes: java.util.Collection[String])
<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
    </head>
    <body>
        <ul>
            @for(favRoute <- favRoutes) {
                <li>@favRoute</li>
            }
        </ul>
        <ul>
            @for(route <- routes) {
                <li>
                    <a href="/directions/@route.getId">@route.getId - @route.getName</a>
                    |
                    <a href="/favorites/route/save/@route.getId">Save</a>
                </li>
            }
        </ul>
    </body>
</html>

    *@
