@( groups: Iterable[com.weizilla.transit.groups.Group],
    favRoutes: Iterable[com.weizilla.transit.data.Route],
    transitRoutes: Iterable[com.weizilla.transit.data.Route])

@main("Transit"){Transit} {
    <section>
        <header>Groups</header>
        <ul>
        @for(group <- groups) {
            <li><a href="/groups/@group.getId">@group.getName</a></li>
        }
        </ul>
        @helper.form(action = routes.Application.createGroup()) {
            <label for="name">Name</label>
            <input id="name" type="text" name="name">
            <input type="submit" value="Create">
        }
    </section>

    <section>
        <header>Favorites</header>
        <ul>
        @for(favRoute <- favRoutes) {
            <li>
                <a href="/directions/@favRoute.getId">@favRoute.getId - @favRoute.getName</a>
            </li>
        }
        </ul>
    </section>

    <section>
        <header>Predictions</header>
        <ul>
        @for(route <- transitRoutes) {
            <li>
                <a href="/directions/@route.getId?routeName=@route.getName">@route.getId - @route.getName</a> |
                @helper.form(action = routes.Application.saveFavoriteRoute()) {
                    <input type="hidden" id="routeId" name="routeId" value="@route.getId">
                    <input type="submit" value="Save">
                }
            </li>
        }
        </ul>
    </section>
}
