@(body: String)

@main("Transit") {
    <h1>this template thing is working</h1>
    @body
}
@*
@(title: String, routes: java.util.Collection[com.weizilla.transit.bus.data.Route], favRoutes: java.util.Collection[String])
<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
    </head>
    <body>
        <ul>
            @for(favRoute <- favRoutes) {
                <li>@favRoute</li>
            }
        </ul>
        <ul>
            @for(route <- routes) {
                <li>
                    <a href="/directions/@route.getId">@route.getId - @route.getName</a>
                    |
                    <a href="/favorites/route/save/@route.getId">Save</a>
                </li>
            }
        </ul>
    </body>
</html>

    *@
