@(title: String)(header: Html)(article: Html)
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
        <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>-->
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/main.css")">
        <title>@title</title>
    </head>
    <body>
        <article>@navbar()</article>
        <header>@header</header>
        <article>@article</article>
    </body>
</html>
