@(title: String, route: com.weizilla.transit.bus.data.Route,
        stops: java.util.Collection[com.weizilla.transit.bus.data.Stop],
        favStops: java.util.Collection[com.weizilla.transit.bus.data.Stop])
<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
    </head>
    <body>
        <ul>
        @for(favStop <- favStops) {
            <li>@favStop.getName</li>
        }
        </ul>
        <ul>
        @for(stop <- stops) {
            <li>
                <a href="/predictions/@stop.getId/@stop.getRouteId">@stop.getName</a>
                |
                <a href="/favorites/stop/save/@stop.getRouteId/@stop.getDirection/@stop.getId">Save</a>
            </li>
        }
        </ul>
    </body>
</html>
