@(routeId: String, routeName: String, direction: String,
        stops: Iterable[com.weizilla.transit.data.Stop],
        favStops: Iterable[com.weizilla.transit.data.Stop],
        groups: Iterable[com.weizilla.transit.groups.Group])
@main("Stops"){
    <ol class="breadcrumb">
        <li><a href="/">Predictions</a></li>
        <li><a href="/directions/@routeId?routeName=@routeName">@routeId - @routeName</a></li>
        <li class="active">@direction</li>
    </ol>
} {
    <div class="container-fluid">
        <ul class="list-group">
        @for(favStop <- favStops) {
            @display(favStop, true)
        }
        </ul>
    </div>

    <div class="container-fluid">
        <ul class="list-group">
        @for(stop <- stops) {
            @display(stop, false)
        }
        </ul>
    </div>
}
@display(stop: com.weizilla.transit.data.Stop, fav: Boolean) = {
    <li class="list-group-item">
        <a href="/predictions/@stop.getId?routeIdsStr=@routeId">@stop.getName</a>
        @if(! fav) {
            | @helper.form(action = routes.Application.saveFavoriteStop()) {
                <input type="hidden" id="stopId" name="stopId" value="@stop.getId">
                <input type="hidden" id="routeId" name="routeId" value="@routeId">
                <input type="hidden" id="direction" name="direction" value="@direction">
                <input type="submit" value="Save">
            }
        }
        @if(groups.nonEmpty) {
            | @helper.form(action = routes.Application.addStopToGroup()) {
                <label for="groupId">Add to Group</label>
                <select id="groupId" name="groupId">
                @for(group <- groups) {
                    <option value="@group.getId">@group.getName</option>
                }
                </select>
                <input type="hidden" id="stopId" name="stopId" value="@stop.getId">
                <input type="hidden" id="routeId" name="routeId" value="@routeId">
                <input type="hidden" id="direction" name="direction" value="@direction">
                <input type="submit" value="Add">
                }
        }
    </li>
}
