@(routeId: String,  direction: com.weizilla.transit.data.Direction,
        stops: Iterable[com.weizilla.transit.data.Stop],
        favStops: Iterable[com.weizilla.transit.data.Stop],
        groups: Iterable[com.weizilla.transit.groups.Group],
        addStopToGroupForm: Form[AddStopToGroupData])
@main("Stops")("Route " + routeId + " - " + direction) {


    <ul>
    @for(favStop <- favStops) {
        @display(favStop, true)
    }
    </ul>

    <ul>
    @for(stop <- stops) {
        @display(stop, false)
    }
    </ul>
}
@display(stop: com.weizilla.transit.data.Stop, fav: Boolean) = {
    <li>
        <a href="/predictions/@stop.getId?routeIdsStr=@routeId">@stop.getName</a>
        @if(! fav) {
            | <a href="/favorites/save/stop/@stop.getId/@routeId/@direction">Save</a>
        }
        @if(groups.nonEmpty) {
            |
            @helper.form(action = routes.Application.addStopToGroup()) {
                <label for="groupId">Add to Group</label>
                <select id="groupId" name="groupId">
                @for(group <- groups) {
                    <option value="@group.getId">@group.getName</option>
                }
                </select>
                <input type="hidden" id="stopId" name="stopId" value="@stop.getId">
                <input type="hidden" id="routeId" name="routeId" value="@routeId">
                <input type="hidden" id="direction" name="direction" value="@direction.name()">
                <input type="submit" value="Add">
                }
        }
    </li>
}
